[init]
  defaultBranch = main
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[mergetool]
  prompt = false
[merge]
  tool = nvim
[user]
	email = hello@mzndr.me
	name = Marius Zander
  useConfigOnly = true
  signingKey = ~/.ssh/git.pub
[checkout]
  fetch = true
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[fetch]
  prune = true
[add]
  patch = true
[commit]
  verbose = true
  gpgsign = true
[remote "origin"]
  prune = true
[tag]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
