[init]
  defaultBranch = main
[alias]
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff
    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff
    # `git diff` with difftastic.
    dft = -c diff.external=difft diff

[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[core]
    attributesfile = ~/.gitattributes

[mergetool]
  prompt = false
[merge]
  tool = nvim
[user]
	email = hello@mzndr.me
	name = Marius Zander
  useConfigOnly = true
  signingKey = ~/.ssh/git.pub
[checkout]
  fetch = true
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[fetch]
  prune = true
[add]
  patch = true
[commit]
  verbose = true
  gpgsign = true
[remote "origin"]
  prune = true
[tag]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
[interactive]
    #diffFilter = delta --color-only
#[delta]
#    navigate = true  # use n and N to move between diff sections
#    dark = true      # or light = true, or omit for auto-detection
#    line-numbers = true
#    #side-by-side = true

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[includeIf "gitdir:/home/marius/hcloud/"]
    path = /home/marius/dotfiles/git/.gitconfig-hcloud

